
.header{
  min-height: 440px;

  .title{
    position: relative;
    background-color: rgba($blue, .35);

    @extend .py-3;

    &:after{
      display:block;
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      background-color: inherit;
      width: 3rem;
      left: -3rem;
    }

    @extend .py-2;
    @extend .mb-2;
  }

  .lead{
    display: inline-block;
    background-color: $black;
    color: $white;

    @extend strong;
    @extend .p-3;
    @extend .mb-2;
  }

  .content{
    margin-top: 12rem;
    text-shadow: 0px 0px 6px $black;

    &:after{
      display:block;
      content:'';
      height: 2px;
      background-image: url('../images/divider.jpg');
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}

@include media-breakpoint-down(sm) {
  .header{
    .title{
      padding-left: 15px;
      padding-right: 15px;
      margin-right: ($grid-gutter-width / -2);
      margin-left:  ($grid-gutter-width / -2);

      h1{
        font-size: 3rem;
      }
      h2{
        font-size: 2rem;
      }

      &:after{
        display:none;
      }
    }
    .lead{
      margin-right: ($grid-gutter-width / -2);
      margin-left:  ($grid-gutter-width / -2);
    }
  }
}
