.visual{
}

.wysiwyg{

  margin-top: -300px;

  &:after{
    display:block;
    content:'';
    height: 8px;
    background-image: url('../images/divider.jpg');
    background-repeat: no-repeat;
    background-position: center;
  }
}
