.visual{
  min-height: 500px;
}


.side-by-side{
  img{
    border:1px solid $white;
    box-shadow: 0px 0px 2px 3px rgba($white, .3);
  }
}


.facebook{
  @extend .mb-5;

  &:after{
    display:block;
    content:'';
    height: 2px;
    background-image: url('../images/divider.jpg');
    background-repeat: no-repeat;
    background-position: center;
  }
}

@include media-breakpoint-down(sm) {
  .wysiwyg{
    position: relative;
    top:0px;
    margin-top: 2rem;
  }
}

#cff .cff-item{
  border:none !important;

  .cff-timeline-event-title{

    a{
      color: $pink;
    }
  }
  .cff-post-text{
    margin-top: 26px;
  }
  .cff-lightbox-link{
    border: 2px solid $white !important;
  }
}
