.visual{
}

.wysiwyg{
  position: absolute;
  bottom: 2rem;
  width: 100%;

  &:after{
    display:block;
    content:'';
    height: 2px;
    background-image: url('../images/divider.jpg');
    background-repeat: no-repeat;
    background-position: center;
  }
}
